/*按钮*/
.btn{
	width: 90px;
	height: 40px;
	
	background-color: #1E90FF;
	
	color: white;
	font-size: 15px;
	
	outline: none; /*去除默认样式*/
	
	border: solid 0px white;
	border-radius: 4px;
	margin: 1px 7px;
	
	cursor: pointer;
	
	box-shadow: 0px 0px 3px #ccc;
}

.btn:hover{
	background: #5599FF;
}

/*禁用时的按钮*/
.btn-disabled{
	background-color: #b3b3b3;
	cursor: default;
}

.btn-disabled:hover{
	background-color: #b3b3b3;
}

.btn-link{
	text-decoration: none;
	text-align: center;
	padding: 10px 13px;
}