/*主内容*/
#content{
	width: 75%;
	margin: 0 auto;
}

h1, h2{
	padding-bottom: 8px;
	margin-bottom: 25px;
	
	border-bottom: solid 2px;
	border-bottom-color: #bfbfbf;
	
	color: #333;
}

body{
	margin: 0;
}

/*--------脚注-------*/
#footer{
	margin-top: 40px;
	clear: both;
	text-align: center;
}

#footer>*{
	color: #a6a6a6;
}

/*-------头部标题-------*/
#header{
	background: #f2f2f2;
	
	/*宽高*/
	height: 50px;
	
	margin: 0;
	margin-bottom: 40px;
	padding: 10px;
	
	border-bottom: solid 1px #ccc;
}

#header>h1{
	display: inline;
	
	margin: 0;
	margin-left: 30px;
	padding-right: 80px; /*让右边的下划线稍微延长一下*/
}

#header>#back-text{
	display: inline;
	color: #999;
	text-decoration: none; /*无下划线*/
	font-size: 18px;
}

#header>#back-arrow{
	display: inline;
	color: #999;
	font-size: 18px;
}