.signer{
	margin: 20px;
	padding: 20px;
	
	border: solid 1px hsl(0, 0%, 85%);
	border-radius: 4px;
	
	min-width: 150px;
	min-height: 178px;
	
	/*边框阴影*/
	box-shadow: 0px 0px 2px #ccc;
	
	display: inline-block;
	float: left;
	text-align: center;
}

.signer>.name{
	font-weight: bold;
}

.signer .fa{
	padding-right: 4px;
}

/*状态-已签到*/
.stat-signed{
	color: green;
}

/*状态-警告*/
.stat-warn{
	color: #D8BD02;
}
