/*文本编辑框*/
textarea{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.section{
	margin-bottom: 45px;
	padding: 20px;
	
	border: solid 1px hsl(0, 0%, 85%);
	border-radius: 4px;
	
	/*边框阴影*/
	box-shadow: 0px 0px 2px #ccc;
}

/*log 显示框*/
#log{
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	
	overflow: scroll;
	height: 600px;
}

#content{
	width: 75%;
	margin: 0 auto;
}

#cookie-edit{
	width: 500px;
	margin: 5px;
}

#footer{
	text-align: center;
	color: #a6a6a6;
}