h1, h2{
	padding-bottom: 8px;
	margin-bottom: 25px;
	
	border-bottom: solid 2px;
	border-bottom-color: #bfbfbf;
}

/*文本编辑框*/
textarea{
	border: 1px solid #ccc;
	border-radius: 4px;
}

.section{
	margin-bottom: 45px;
	padding: 20px;
	
	border: solid 1px hsl(0, 0%, 85%);
	border-radius: 4px;
	
	/*边框阴影*/
	box-shadow: 0px 0px 2px #ccc;
}

/*log 显示框*/
#log{
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	
	overflow: scroll;
	height: 600px;
}

#footer>*{
	display: block;
	text-align: center;
	color: #a6a6a6;
}

/*按钮*/
.btn{
	width: 90px;
	height: 40px;
	
	background-color: #1E90FF;
	
	color: white;
	font-size: 15px;
	
	outline: none; /*去除默认样式*/
	
	border: solid 0px white;
	border-radius: 4px;
	
	cursor: pointer;
	
	box-shadow: 0px 0px 3px #ccc;
}

.btn:hover{
	background: #5599FF;
}

/*禁用时的按钮*/
.btn-disabled{
	background-color: #b3b3b3;
	cursor: default;
}

.btn-disabled:hover{
	background-color: #b3b3b3;
}


/*提示信息*/
.msg{
	padding: 11px;
	margin: 10px;
	
	border-radius: 4px;
	background-color: #6699ff;
	
	font-size: 17px;
	color: white;
	
	box-shadow: 0px 0px 3px #ccc;
	
	/*消息框长度随内容长度变化*/
	/*display: inline-block;
	min-width: 500px;*/
}

/*错误提示信息*/
.msg-err{
	background-color: #ff6666;
}

/*警告提示信息*/
.msg-warn{
	background-color: #ffb31a;
}

/*成功提示信息*/
.msg-success{
	background-color: #2eb72e;
}

#content{
	width: 75%;
	margin: 0 auto;
}

#cookie-edit{
	width: 500px;
	margin: 5px;
}

/*font awesome 图标*/
.fa{
	margin-right: 7px;!important
}